/* General Formatting */
body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    min-height: 100vh;
    background: url("../images/image-from-rawpixel-id-585610-jpeg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

h2 {
    font-size: 1rem;
    padding: 0.5em 0.5em;
}

h1 {
    font-size: 3rem;
    padding: 0.5em 0.5em;
    font-weight: 400;
}

h2.name {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact{
    margin-top: 80px;
}

.contact a { 
    color: white;
    font-size: 2em;
    padding: 20px;
}

